<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
	<form action="/work/saveWorkDay" method="post">
			1<input name="remark" type="text"/>		
			2<input name="workDayDetailLists[0].workDayContent" type="text"/>		
			wanc<input name="workDayDetailLists[0].workDaySuccess" type="text"/>		
			4<input name="workDayDetailLists[1].workDayContent" type="text"/>		
			wanc<input name="workDayDetailLists[1].workDaySuccess" type="text"/>		
			6<input name="workDayState" type="text"/>
			<input type="submit" value="submit"/>		
	</form>
</body>
</html>